body{
    background-color: wheat;
}
.Static{
    width: 200px;
    height: 200px;
    border: 5px solid salmon;
    background-color: olivedrab;
    display: inline-block;
}
.Static#middle{
    background-color: teal;
    position: static;
}
.relative{
    width: 200px;
    height: 200px;
    border: 5px solid rgb(114, 193, 250);
    background-color: rgb(142, 90, 35);
    display: inline-block;
}
.relative#middle{
    background-color: rgb(32, 38, 38);
    position: relative;
    left: 70px;
    top: 30px;
}
.Absolute{
    width: 200px;
    height: 200px;
    border: 5px solid rgb(148, 142, 39);
    background-color: rgb(63, 142, 35);
    display: inline-block;
}
.Absolute#middle{
    background-color: rgb(21, 1, 51);
    position: absolute;
}
.Fixed{
    width: 200px;
    height: 200px;
    border: 5px solid rgb(114, 250, 150);
    background-color: rgb(35, 117, 142);
    display: inline-block;
}
.Fixed#middle{
    background-color: rgb(136, 26, 45);
    position: fixed;
    top: 450px;
    left:440px;
}